<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <h1><a class="title__link" href="/"><%= title %></a></h1>
      <nav class="header-nav">
        <li><a class="nav__link" href="/">Home</a></li>
        <li><a class="nav__link" href="/movies">All Movies</a></li>
        <li><a class="nav__link" href="/top">Top Rated</a></li>
        <li><a class="nav__link" href="/genres">Genres</a></li>
      </nav>
    </header>
    <main class="home">
      <ul>
        <li><strong>All Movies: </strong><%= movie_count %></li>
        <li><strong>Physical Copies: </strong><%= movie_instance_count %></li>
        <li>
          <strong>Physical Copies: </strong><%= movie_instance_available_count
          %>
        </li>
        <li><strong>Top Rated: </strong><%= top_rated_count %></li>
        <li><strong>Genres: </strong><%= genre_count %></li>
      </ul>
    </main>
  </body>
</html>
